<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import Bootstrap & JQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- import CSS -->
    <link rel='stylesheet' type='text/css' href='../static/css/dashboard.css'>
    <!-- import Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <title>John's Sports Page</title>
</head>
<body>
    <div class="wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="font-weight: bold;">Welcome {{ user.name }}!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">NFL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MBA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MLB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">College Basketball</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">College Football</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="/logout" style="color: red;">Logout</a>
                </span>
            </div>
        </nav>

        <div class="container mt-2">
            <table class="table table-striped table-dark text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Home Team</th>
                        <th scope="col">Away Team</th>
                        <th scope="col">Team Odds</th>
                        <th scope="col">Last 10</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groupArr %}
                    <tr>
                        <td>{{group.date}} <br/> {{group.time}}</th>
                        <!-- click on team to see last 10 and see each team's schedules -->
                        <td><a href="#" style="color: whitesmoke;"><img src={{group.homeTeamPic}} alt="Team Logo" height="40px">{{group.homeTeam}}</a> <span style="font-size: small; border: 1px solid whitesmoke; padding: 3px;"> {{group.homeBet}} </span></td>
                        <td><a href='#' style="color: whitesmoke;"><img src={{group.oppTeamPic}} alt="Team Logo" height="40px">{{group.oppTeam}}</a> <span style="font-size: small; border: 1px solid whitesmoke; padding: 3px;"> {{group.oppBet}} </span></td>
                        <td>{{group.openingOdds}} <br/> {{group.liveOdds}}</td>
                        <td class="text-center"> {{group.homeTeam}} <span class='mr-4' ></span> {{group.homeL10}} <br/>  {{group.oppTeam}} <span class='mr-4' ></span> {{group.oppL10}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

</body>
</html>